{% extends 'base.html' %}


{% load static %}
{% block head%}
<link rel="stylesheet" href="static/css/home.css">
{% endblock head %}

{% block title %}
  {{title}}
  {% endblock title %}

{% block body %}

<!-- <h1> -->
<!-- <a href="{% url 'login' %}">Login</a> -->
<!-- </h1> -->

<div id="slider">

    {% for post in carousalPosts %}

    <div class="slides">
        <div class="carouselCard">

            <div class="img">
                <a href="{% url 'viewPost' post.slug%}">
                    <img src="{{post.img.url}}" alt="">
                </a>
            </div>
            <div class="content">
                <a href="{%url 'viewPost' post.slug%}">

                    <h6> {{post.cat_id}} - {{post.timestamp|date:'d F Y'}}</h6>
                    <h2>{{post.title}}</h2>
                </a>
                <h3>{{post.desc|striptags|truncatechars:250|safe}}</h3>

                <h5>{{post.user.first_name}} {{post.user.last_name}}</h5>
            </div>

        </div>
    </div>

    {% endfor %}

</div>
<div id="dot">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>

<div id="categoriesBlock">
    <div class="categories">
        <ul>
            <li>
                <span>
                    <a href="{% url 'categories' 'All'%}" >All</a>
                </span>
            </li>

            <li>
                <span>
                    <a href="{% url 'categories' 'Food'%}">Food</a>
                </span>
            </li>
            <li>
                <span>
                    <a href="{% url 'categories' 'Travel'%}">Travel</a>
                </span>
            </li>
            <li>
                <span>
                    <a href="{% url 'categories' 'Lifestyle'%}">Lifestyle</a>
                </span>
            </li>
            <li>
                <span>
                    <a href="{% url 'categories' 'Fashion'%}">Fashion</a>
                </span>
            </li>
            <li>
                <span>
                    <a href="{% url 'categories' 'Sports'%}?">Sports</a>
                </span>
            </li>
            <li>
                <span>
                    <a href="{% url 'categories' 'Tech'%}">Tech</a>
                </span>
            </li>
            <li>
                <span>
                    <a href="{% url 'categories' 'More'%}">More</a>
                </span>

            </li>

        </ul>

    </div>
</div>


<div class="posts">
    {% for post in posts %}

    <div class="card">

        <div class="img">
            <a href="{% url 'viewPost' post.slug%}">
                <img src="{{post.img.url}}" alt="">
            </a>
        </div>
        <a href="{%url 'viewPost' post.slug%}">

            <h6> {{post.cat_id}} - {{post.timestamp|date:'d-m-Y'}}</h6>
            <h2>{{post.title}}</h2>
        </a>
        <h3>{{post.desc|striptags|truncatechars:200|safe}}</h3>

        <h5>{{post.user.first_name}} {{post.user.last_name}}</h5>

    </div>
    {% endfor %}


</div>

<!--Pagination-->

<div class="pagination">
    {% if posts.has_previous %}
    <span class="page-item">
        <a class="page-link" href="{% url 'categories' 'All' %}?page={{ posts.previous_page_number }}">&lt;</a>
    </span>
    {% else %}
    <span class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="True">&lt;</a>
    </span>
    {% endif %}

    {% if posts.number|add:'-4' > 1 %}
    <span class="page-item"><a class="page-link" href="{% url 'categories' 'All' %}?page={{ posts.number|add:'-5' }}">&hellip;</a></span>
    {% endif %}

    {% for i in posts.paginator.page_range %}
    {% if posts.number == i %}
    <span class="page-item active" aria-current="page">
        <span class="page-link">
            {{ i }}
            <span class="sr-only">(current)</span>
        </span>
    </span>
    {% elif i > posts.number|add:'-5' and i < posts.number|add:'5' %} <span class="page-item"><a class="page-link"
            href="{% url 'categories' 'All' %}?page={{ i }}">{{ i }}</a></span>
        {% endif %}
        {% endfor %}

        {% if posts.paginator.num_pages > posts.number|add:'4' %}
        <span class="page-item"><a class="page-link" href="{% url 'categories' 'All' %}?page={{ posts.number|add:'5' }}">&hellip;</a></span>
        {% endif %}

        {% if posts.has_next %}
        <span class="page-item">
            <a class="page-link" href="{% url 'categories' 'All' %}?page={{ posts.next_page_number }}">&gt;</a>
        </span>
        {% else %}
        <span class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">&gt;</a>
        </span>
        {% endif %}

</div>
<!-- url for pagination : https://ordinarycoders.com/blog/article/django-pagination -->
<!--end of Pagination-->


<hr>
{% include "footer.html" %}



{% endblock %}

{% block script %}

<script src="static/js/home.js"></script>
{%endblock %}